<div id="particles-js">
  <div class="header">
    
    <nav>
      <ul>
        <li><a href="#anasayfa">Ana Sayfa</a></li>
        <li><a href="#hakkimda">Hakkımda</a></li>
        <li><a href="#deneyimler">Deneyimlerim</a></li>
      </ul>
    </nav>
    <section id="anasayfa">
      <h1>Ana Sayfa</h1>
      <!-- İçeriğiniz burada olacak -->
    </section>
  
    <section id="hakkimda">
      <h1>Hakkımda</h1>
      <!-- İçeriğiniz burada olacak -->
    </section>
  
    <section id="deneyimler">
      <h1>Deneyimlerim</h1>
      <!-- İçeriğiniz burada olacak -->
    </section>
      <h1>
        <span class="site-title">{{ site.title }}</span>
        <span class="element"></span>
       
     </h1>
  
      
      
      <div class="header-icons">
      
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
  
        <a aria-label="My Twitter" target="_blank" href="https://x.com/desouzafurkan"> <i class="icon fa fa-x" aria-hidden="true"></i></a>
       
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/thefurkanpolat"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
       
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/thefurkanpolat/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
      
        <a aria-label="My Github" target="_blank" href="https://github.com/thefurkanpolat"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var typed = new Typed(".element", {
      strings: ["Information Technology Specialist", "Software Developer"],
      typeSpeed: 50,   // Yazı yazma hızı
      backSpeed: 30,   // Geri silme hızı
      loop: true       // Sürekli tekrar etsin mi?
    });
  });
</script>